<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Image App</title>
</head>
<body>

  <!-- create a form to upload an image jpeg with a description -->
  <form action="/saveImage" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input type="text" name="description" placeholder="Description">
    <button type="submit" name="submit">UPLOAD</button>
  </form>

  <img src="/images/66d3ff6f7ed916d3896459b43557c705">

  
</body>
</html>